.Register, .Login, .Create, .Edit, .Details {
    background-color: ghostwhite;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.label{
    color: black;
    padding: 8px;
    font-family: Arial;
}

.input {
    margin: 25px 0;
}

.input input {
    width: 80%;
    height: 30px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 6px 0 5px 10px;
}

.input textarea {
    width: 80%;
    height: 30px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 6px 0 5px 10px;
}

.input input::placeholder {
    color: lightslategrey;
}

button {
    width: 33%;
    height: 45px;
    margin: 3px 3px;
    margin-bottom: 20px;
    background-color: #d2235c;
    border: transparent;
    border-radius: 5px;
    color: ghostwhite;
    font-size: 14px;
}

